@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/general-sans");
@import "tailwindcss";

.font-bricolage {
	font-family: "Bricolage Grotesque", sans-serif;
	font-optical-sizing: auto;
}
.font-general {
	font-family: "General Sans", sans-serif;
	font-optical-sizing: auto;
}
.svg-crisp {
	shape-rendering: crispEdges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.svg-smooth {
	shape-rendering: geometricPrecision;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: auto;
}
